*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
    --main-font: 'Roboto';
    --main-color: #4C5866;
    --hover-colorOne: #7875FE;
    --serch-color: #D1D1E5;
    --input-border-bottom-focus: #7875FE;
    --p-color: #85859b;
    --maximum-whiteness: #ebebeb;
    --hr-color: #C0C0C0;
    --v-dot: #666666;
}

body {
    margin: 0;
    font-family: var(--main-font);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    position: relative;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header::after {
    position: absolute;
    content: "";
    background-color: var(--serch-color);
    height: 1px;
    width: 100%;
    top: 5rem;
}




.nav-search-exit {
    display: flex;
    gap: 70px;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li a {
    color: var(--main-color);
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--hover-colorOne);
}


.nav-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
}


.nav-burger span {
    display: block;
    height: 3px;
    background: var(--main-color);
    border-radius: 2px;
    transition: 0.3s;
}

nav.active {
    right: 0;
}


/* Крестик */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.close-btn:hover {
    color: var(--hover-colorOne);
}



.search-exit {
    display: flex;
    gap: 20px;
}

.exit {
    padding-top: 13px;
}



.search-box {
    display: flex;
    transition: all 0.4s ease;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
    padding: 0;
}

.search-box button img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.search-box.active button {
    transform: translateX(-10px);
}



.search-box input {
    width: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.4s ease;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.search-box.active input {
    width: 200px;
    margin-left: 5px;
    padding-bottom: 3px;
    opacity: 1;
}

.search-box.active input::placeholder {
    color: var(--serch-color);
}


@media (min-width: 768px) {
    .nav-burger {
        display: none;
    }

    .close-btn {
        display: none;
    }
}



@media(max-width: 991px) {

    .logo {
        margin-right: 2rem;
    }

    .nav-search-exit {
        display: contents;
    }

    .exit {
        padding: 0;
    }

    nav {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        background-color: #666666;
        transition: right 0.3s ease;
        padding-top: 80px;
    }

    nav.active {
        display: block;
        right: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    nav ul li a {
        color: white;
        font-size: 1.5rem;
    }
}

/* simple-things */

.simple-things {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 650px;
}

.simple-things-text {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.simple-things-text h1,
.simple-things-text p,
.simple-things-text a {
    margin: 0;
}

.simple-things-text h1 {
    color: var(--main-color);
    font-size: 3.5rem;
    font-weight: normal;
    max-width: 450px;
    line-height: 1;
}

.simple-things-text p {
    color: var(--p-color);
    font-size: 1.1rem;
    max-width: 440px;
    line-height: 1.5;
}

.simple-things-text a {
    display: inline-block;
    color: var(--hover-colorOne);
    font-size: 1.3rem;
    border: 1px solid var(--hover-colorOne);
    width: 250px;
    text-align: center;
    padding: 1.3rem 0;
    transition: 0.3s ease-in-out;
}

.simple-things-text a:hover {
    background-color: var(--hover-colorOne);
    color: white;
}

.simple-things-img {
    background-image: url(images/hero-img.png);
    width: 540px;
    height: 560px;
    align-self: flex-end;
}

@media(max-width:991px) {
    .simple-things {
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
    }
}

@media(max-width:1150px) {
    .simple-things-img {
        background-image: url(images/hero-img-tablet.png);
        width: 270px;
        height: 410px;
        align-self: center;
    }
}


/* maximum-whiteness */

.maximum-whiteness {
    background-color: var(--maximum-whiteness);
    height: 950px;
}

.maximum-whiteness-three-items {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.three-items-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.three-items-element hr {
    border: none;
    background-color: var(--hr-color);
    height: 1px;
    width: 95%;
}

.image-text {
    display: flex;
    align-items: center;
    gap: 20px;
}


.image-text-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-text-text h3,
.image-text-text p {
    margin: 0;
}

.image-text-text h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--v-dot);
}

.image-text-text p {
    color: var(--p-color);
    font-size: 1.1rem;
    max-width: 200px;
}

@media(max-width:1150px) {

    .maximum-whiteness-three-items {
        gap: 0;
    }


    .image-text-text p {
        max-width: 120px;
    }

    .three-items-element hr {
        width: 90%;
    }
}


@media(max-width:991px) {
    .image-text {
        flex-direction: column;
    }

    .three-items-element hr {
        width: 95%;
    }

    .image-text-text p {
        max-width: 220px;
    }

    .image-text img {
        padding-right: 3rem;
    }
}


@media(max-width:767px) {

    .maximum-whiteness-three-items {
        display: grid;
        grid-template-columns: 1fr;
    }
}



/* maximum-whiteness-two-elements */

.maximum-whiteness-two-elements {
    margin-top: 5rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maximum-whiteness-two-elements-img {
    background-image: url(images/result-img.png);
    width: 730px;
    height: 564px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.maximum-whiteness-two-elements-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.maximum-whiteness-two-elements-text h2,
.maximum-whiteness-two-elements-text p {
    margin: 0;
}

.maximum-whiteness-two-elements-text h2 {
    font-size: 2.6rem;
    font-weight: normal;
    color: var(--v-dot);
    max-width: 100px;
    line-height: 1;
}

.maximum-whiteness-two-elements-text p {
    color: var(--p-color);
    font-size: 1.1rem;
    max-width: 380px;
    line-height: 1.8;
}

@media(max-width:1150px) {
    .maximum-whiteness-two-elements-img {
        width: 610px;
        height: 470px;
    }

    .maximum-whiteness-two-elements {
        margin-top: 5rem;
        gap: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media(max-width:991px) {
    .maximum-whiteness-two-elements-img {
        align-self: self-start;
        width: 330px;
        height: 254px;
    }
}

@media(max-width:767px) {
    .maximum-whiteness-two-elements {
        flex-direction: column;
    }

    .maximum-whiteness-two-elements-img {
        align-self: center;
    }

    .maximum-whiteness {
        background-color: var(--maximum-whiteness);
        height: 1750px;
    }
}


/* products */

.products {
    background-color: white;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
